#site-navbar {
    position: fixed;
    bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#site-navbar li {
    font: var(--text-size-site-nav) 'Noto Sans', sans-serif;
    line-height: var(--text-size-site-nav);
    font-weight: 300;
    color: var(--text-primary-color);
    margin: 0px 8px;
}

#site-navbar li a {
    color: var(--text-primary-color);
}

#site-navbar li.active a {
    color: var(--text-accent-color);
}