@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Noto+Sans:wght@300;400&display=swap');

/* variables */
:root {
  --bg-dark-color: #172233;
  --bg-color-blend: #0D1015;
  --text-primary-color: #fafafa;
  --text-accent-color: #ff5858;
  --text-light-color: rgba(255, 255, 255, 0.15);


  --text-size-site-default: 14px;
  --text-size-site-headline: 6rem;
  --text-size-site-subheadline: 3rem;
  --text-size-site-nav: 1rem;
}

/* Application css */
html,
body {
  width: 100%;
  height: 100%;

  font-family: 'Merriweather', serif;
}

body {
  background-color: var(--bg-color-blend);
}



#root {
  width: 100vw;
  height: 100vh;
}

#root div:first-child div {
  mix-blend-mode: overlay;
  opacity: 0.8;
}

#site-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#site-main {
  position: relative;
  z-index: 3;
}